<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Author: IlhamAdhim, app-name: Restopedia ,Deskripsi: aplikasi submission 1 - Katalog Restoran ">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <title>Restopedia | Home </title> 
    
</head>
<body>
    <a href="#restaurants" class="skip-link">Menuju ke konten</a>
  <header class="header">
    <!-- <div class="header_inner">
      <div class="header_logo">
        <img src="./images/logo-restopedia.png">
      </div>
    </div>
    <button id="menu" class="header_menu">☰</button>
    <nav id="drawer" class="nav">
      <ul class="nav_list">
        <li class="nav_item"><a href="/">Home</a></li>
        <li class="nav_item"><a href="#">Favorite</a></li>
        <li class="nav_item"><a href="https://github.com/IlhamAdhim">About Us</a></li>
      </ul>
    </nav> -->
    <nav-bar></nav-bar>
  </header>
<h1>Restaurant Apps Starter Project</h1>
<p>Hallo coders! Anda berhasil menjalankan starter project.</p>
<p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
<img src="./images/heros/hero-image_1.jpg" width="450" alt="">
<img src="./images/heros/hero-image_2.jpg" width="450" alt="">
<img src="./images/heros/hero-image_3.jpg" width="450" alt="">
<img src="./images/heros/hero-image_4.jpg" width="450" alt="">
<footer>
    <h2>Copyright &copy; 2021 DinerMate</h2>
  </footer>
</body>
</html>
