<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Author: IlhamAdhim, app-name: Restopedia ,Deskripsi: aplikasi submission 1 - Katalog Restoran ">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="manifest" href="manifest.json">
      <link rel="icon" href="favicon.ico">
      <title>Restopedia | Home </title> 
      
  </head>
  <body>
      <a href="#content" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <nav-bar></nav-bar>
    </header>
    
    <!-- content -->
    <main id="content">
      
    </main>

      <footer>
          <h2>Copyright &copy; 2021 Restopedia</h2>
          <a href="https://github.com/ilhamAdhim/restopedia.git">
            <i class="fa fa-github icon"></i>
          </a>
      </footer>
    </body>
</html>
