<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Author: IlhamAdhim, app-name: Restopedia ,Deskripsi: aplikasi submission 1 - Katalog Restoran ">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>Restopedia | Home </title> 
      
  </head>
  <body>
      <a href="#content" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <nav-bar></nav-bar>
    </header>
    <div class="jumbotron-wrapper">
      <div class="bg-image">
          <img src="./images/heros/hero-image_1.jpg" alt="Jumbotron Image - Chef Serving Food">
      </div>
      <div class="bg-text">
        <h1>Restopedia</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        <button class="button_jumbotron">
          <span>
            Cari Restoran          
          </span>
        </button>
      </div>
    </div>

    <!-- content -->
    <main id="content">
      <h2> Restaurant List </h2>
      <list-data></list-data>
    </main>

      <footer>
          <h2>Copyright &copy; 2021 Restopedia</h2>
          <a href="https://github.com/ilhamAdhim/restopedia.git">
            <i class="fa fa-github icon"></i>
          </a>
      </footer>
    </body>
</html>
