$text-color: #373737;
$primary-color: #373737;
$button-color: #373737;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0;

  .detail-page {
    padding: 0 5vw;
  }

  img {
    display: block;
  }

  h1 {
    color: $text-color;
  }

  .card-list {
    display: flex;
  }

  #page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  main {
    h2 {
      text-align: center;
      color: maroon;
    }
  }
}
