$text-color: #373737;
$primary-color: #373737;
$button-color: #373737;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  img {
    display: block;
  }

  h1 {
    color: $text-color;
  }

  .card-list {
    display: flex;
  }

  main {
    h2 {
      text-align: center;
      color: maroon;
    }
  }
}
